/* Global styles */

html,body { margin:0px; padding:0px; } 
body { background-color: #fff; color: #333; }
table { empty-cells:show; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #8500C7; }

h1 { font-size: 18pt; font-weight: bold; text-align: left; text-shadow: #979797 2px 2px 4px; } 

div.field, div.actions {
  margin-bottom: 10px;
}

.plain a {
	text-decoration: none;
}

/*
  This will align labels to their right border. Good for label and field on same line (pretend table layout)
  Width could be 4em...
*/
.field label {
	width:7%;
	float:left;
	text-align:right;
	margin-right: 0.5em;
	display: block;
	overflow: hidden;
}

.field input, textarea {
	border: 1px solid;
	border-color: #D8D8D8;

}

span.location-show {
	width:4em;
	float:left;
	text-align:right;
	margin-right: 2em;
	display: block;		
}

hidden-text label {
	color: #fff;

}

table tr.grey { 
	background-color: #F2F2F2; 
  border: solid 1px #D8D8D8;
}

table tr.white { 
	background-color: white; 
}

table tr.even { 
	background-color: #F2F2F2; 
  border: solid 1px #D8D8D8;	
}

table tr.odd { 
	background-color: white; 
}

table.sorted {
  border-collapse: collapse;
}

.sorted td, .sorted th {
  padding: 4px 10px;

}

.pretty .price {
  text-align: right;
}

.sorted th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sorted th .not-current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sorted th .asc {
  background-image: url(/images/up_arrow.gif);
}

.sorted th .desc {
  background-image: url(/images/down_arrow.gif);
}

.sorted a {
		text-decoration: none;
}

/* Layout styles for main page */
#banner { 
/* bits:
	  border-bottom: 2px solid; 
*/
	  background: #58A000; 

		height: 80px;
		position:fixed;
		width:100%;
		top:0;
		left:0;
	  font: small-caps 40px/40px "Times New Roman", serif; 
	  color: #282; 
	  text-align: center;
	
	 /* fallback/image non-cover color */
   background-color: #1a82f7; 

   /* fallback image */
   background-image: url(images/fallback-gradient.png); 

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top, #2F2727, #1a82f7); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #123600, #55FF00 10%, #359E00 15%, #359E00 85%, #123600 100%);

   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7);

   /* Opera 11.10+ */
   background-image: -o-linear-gradient(top, #2F2727, #1a82f7);


}

#banner img { 
	    float: left;
}

#column-container { 
		margin: 0;
		overflow: hidden;
	  padding-top: 80px; 		
}

#main { 
	  margin-left: 11em; 
	  padding-left: 2em; 
	  background: white;
		padding-bottom: 1000px;
		margin-bottom: -995px;
}

#left-column {
	 	position: fixed;
		padding-top: 1em;
	  padding-left: 1em; 
	  padding-bottom: 1em;
	  width: 10em; 
	  background: #315900;
		padding-bottom: 1000px;
		margin-bottom: -995px;
}

#left-column a { 
	    color: #bfb; 
	    font-size: small;
}
#left-column a:hover { color: #FFF700; }


.new css3 stuff {
   /* fallback/image non-cover color */
   background-color: #1a82f7; 

   /* fallback image */
   background-image: url(images/fallback-gradient.png); 

   /* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to(#1a82f7));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top, #2F2727, #1a82f7); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #2F2727, #1a82f7);

   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #2F2727, #1a82f7);

   /* Opera 11.10+ */
   background-image: -o-linear-gradient(top, #2F2727, #1a82f7);

  /* Rounded corners */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
}




/* Styles for the cart in the main page 
#store .cart_title { 
	font: 120% bold;
}

#store .item_price, #store .total_line { 
	text-align: right;
}

#store .total_line .total_cell { 
	font-weight: bold; border-top: 1px solid #595;
}


 Styles for the cart in the sidebar 
#cart, #cart table {
  font-size: smaller; 
  color:	white;
}

#cart table { 
  border-top:	1px dotted #595; 
  border-bottom: 1px dotted #595; 
  margin-bottom: 10px;
}


 Styles for products/index 

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

*/

